@font-face {
    font-family: 'Poppins';
      src:  url('/fonts/Poppins-Regular.eot?5510888');
      src:  url('/fonts/Poppins-Regular.eot?5510888#iefix') format('embedded-opentype'),
            url('/fonts/Poppins-Regular.woff?5510888') format('woff'),
            url('/fonts/Poppins-Regular.ttf?5510888') format('truetype'),
            url('/fonts/Poppins-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font: 14px/22px "Poppins", Arial, Helvetica, sans-serif;    
    padding: 0 !important;
    position: relative;    
    overflow-x: hidden;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.cabecalho{
    width:  100%;
    height: 144px;
    background-color: #193276 !important;
    position: fixed;
    top: 0;
    z-index: 9;
}

.logo{
  padding-top: 40px;
}

.menu{
  padding-top: 60px;
}

.menu ul li{
  color: #fff;
  font-size: 14px;
  display: inline;
  padding-right: 40px !important;
}

.menu a:hover{
  color: #1ca8c1;
  text-decoration: none;
}

/*.navbar-toggler{
  position: relative;
  float: right !important;   
}

.show{
  background: #193276 !important;
}*/

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #193276;  
  padding: 0px !important;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  /*background-color: #1ca8c1;*/
}

/* Current/active navbar link */
.active {
  background-color: #1ca8c1;
}



.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
    border: none !important;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(254,254,254);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254,254,254, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.corpo-foto{

  background: url('../img/fundo_header.png') repeat;
  /*width: 568px;*/
  height: 100%;
  margin-top: 145px;
}

.aspas{
  margin-top: 94px;
}

.texto-intro{
  font-size: 39pt;
  max-width: 525px;
  margin-top: 30px;
  line-height: 1;
}

.ramon_img{
  max-width: 555px;
  position: relative;
  z-index: 8;
}

.sobre{
  background: #f1f1f1;
  -webkit-transform: skewY(3deg);
  transform: skewY(3deg);
  margin-top: -145px;
  z-index: 6;
  position: relative;
}

.titulo{
  font-size: 40pt;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}
.overlay{
  padding: 90px 0 150px;
}

.sobre > .overlay > .container{
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.sobre > .overlay > .container > .row > .conteudo{
  margin: 0 auto;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 768px) {
 
  .navbar a {    
    display: block;
    padding: 5px;
  }

  .cabecalho{
    height: 127px;
  }

  .menu{
    padding-top: 40px !important;
  }
  .navbar-nav{
    text-align: center !important;
  }
  .navbar-collapse{
    padding-top: 68px !important;
  }
  .show{
    padding-top: 68px !important;
  }

}

@media screen and (max-width: 500px) {
  .corpo-foto{
    width: 560px !important;
  }

  .navbar-toggle{
      padding-top: 0px !important;   
  }
  .logo, .menu{
    width: 50%;
  }

  .navbar a {
    float: left;
    text-align: center;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 13px;
  }



}